[access]
	inheritFrom = chromium/deps
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[submit-requirement "Code-Review"]
	description = If the author is a Chromium committer, code review is required from one other committer (see https://www.chromium.org/getting-involved/become-a-committer/). Otherwise, code review is required from two committers.
	submittableIf = ((uploaderin:cria/project-chromium-committers AND label:Code-Review=MAX,user=non_uploader) OR label:Code-Review=MAX,count>=2) AND -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true