[access]
	inheritFrom = chromium/deps
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[submit-requirement "Code-Review"]
	description = Code review is required from one committer other than the author (see https://www.chromium.org/getting-involved/become-a-committer/).
	applicableIf = uploaderin:cria/project-chromium-committers
	submittableIf = label:Code-Review=MAX,user=non_uploader AND -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[submit-requirement "Code-Review x2"]
	description = The author is not a Chromium committer, so code review is required from two committers (see https://www.chromium.org/getting-involved/become-a-committer/).
	applicableIf = -uploaderin:cria/project-chromium-committers
	submittableIf = label:Code-Review=MAX,count>=2 AND -label:Code-Review=MIN
	overrideIf = label:Bot-Commit=+1 AND -label:Code-Review=MIN
	canOverrideInChildProjects = true